
    <%content_for :title do%>Change Password | LogicKart<%end%>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
    $(function(){
    $(".showpassword").each(function(index,input) {
        var $input = $(input);
        $('<label class="showpasswordlabel"/>').append(
            $("<input type='checkbox' class='showpasswordcheckbox' />").click(function() {
                var change = $(this).is(":checked") ? "text" : "password";
                var rep = $("<input type='" + change + "' />")
                    .attr("id", $input.attr("id"))
                    .attr("name", $input.attr("name"))
                    .attr('class', $input.attr('class'))
                    .val($input.val())
                    .insertBefore($input);
                $input.remove();
                $input = rep;
             })
        ).append($("<span/>").text("Show password")).insertAfter($input);
    });
});
  </script>

  
<style type="text/css">
    .red {  /* for error messages */
   color: red;
}
 
input.error {  /* for the error input text fields */
   border: 1px red inset;
   padding: 2px;
}
 
table {
   border: 0;
}
 
td {
   margin: 0;
   padding: 3px 10px 3px 3px;
}
</style>
 
<h1>Change Password | LogicKart</h1>
<% if flash[:notice] %>
    <p class="flash-error"><%= flash[:notice] %></p>
  <% end %>

<div>
    <%= form_tag('/admin/admin_change_password', {:method => :post, :id => 'ADMIN_CHANGE_PASSWORD'}) do %>
   <table>
   <tr>
        <td><label for="UserOldPassword">Old Password: <abbr title="Required" class="red">*</abbr></label> </td>
        <td><input type="password" name="User[oldPassword]" id="UserOldPassword" required placeholder="Enter your old passsword" class="showpassword" value=<%= flash["info"].blank? ? "" : flash["info"]["oldPassword"]%> > </td>
        <td id="UserOldPasswordError">&nbsp;</td>
   </tr>

    <tr>
        <td><label for="UserNewPassword">New Password <abbr title="Required" class="red">*</abbr></label> </td>
        <td><input type="password" name="User[newPassword]" id="UserNewPassword" required placeholder="Enter your new passsword" class="showpassword"> </td>
        <td id="UserConfirmPasswordError">&nbsp;</td>
    </tr>
    <tr>
        <td><label for="UserConfirmNewPassword">Confirm New Password <abbr title="Required" class="red">*</abbr></label> </td>
        <td><input type="password" name="User[cnewPassword]" id="UserConfirmPassword" required placeholder="Enter your new passsword again" class="showpassword"> </td>
        <td id="UserConfirmPasswordError">&nbsp;</td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Change Password" id="submit"><a href="/admin/index"><input type="submit" value="Back" id="submit"></a></td>
    </tr>
    </table>
  <% end %>

  <script type="text/javascript">
  var formvalidator = new Validator("ADMIN_CHANGE_PASSWORD");
  formvalidator.addValidation("UserFirstName", "req", "Please enter your first name");
  formvalidator.addValidation("UserFirstName", "alpha", "Please put alphabets only in first name");
  formvalidator.addValidation("UserFirstName", "maxlen=25");
  formvalidator.addValidation("UserMiddleName", "alpha");
  formvalidator.addValidation("UserMiddleName", "maxlen=25");
  formvalidator.addValidation("UserLastName", "req", "Please enter your last name");
  formvalidator.addValidation("UserLastName", "alpha", "Please put alphabets only in last name");
  formvalidator.addValidation("UserLastName", "maxlen=25");
  formvalidator.addValidation("UserEmail", "req", "Don't leave the email address field blank");
  formvalidator.addValidation("UserEmail", "maxlen=50", "Please enter a shorter email address");
  formvalidator.addValidation("UserEmail", "email", "Please enter a valid email address");
  formvalidator.addValidation("UserPhone", "numeric","Please put digits only in phone number");
  formvalidator.addValidation("UserPhone", "maxlen=10", "Please put phone number upto 10 digits");
  formvalidator.addValidation("UserAddress", "maxlen=200", "Please shortern your address");
  formvalidator.addValidation("UserAddress", "alnum_s", "Please put only alphanumeric characters in address");
  formvalidator.addValidation("UserGender", "dontselect=000");
  formvalidator.addValidation("UserConfirmNewPassword", "eqelmnt=UserNewPassword", "The Confirm New Password is not same as the New Password");
  </script>
</div>