<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<%content_for :title do%>Forgot Password | Guest<%end%>
</head>
<body>
<h1>Forgot Password</h1>

	<%= form_tag( '/user/user_forgot_password', {:method => :post, :id => 'USER_FORGOT_PASSWORD'}) do %>
   
   <div class="form_group">
        <label for="UserEmail">Email id</label>
        <div class="form_field_group">
            <input type="email" name="User[emailId]" id="UserEmail">
        </div>
    </div>
 
    <div class="form-group">
        <div class="form_field_group">
          <button type="submit" >Submit</button>
        </div>
    </div> 
  <% end %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
</body>
</html>