<!DOCTYPE html>
<head>
	<%content_for :title do%>Forgot Password | Guest<%end%>
</head>
<body>
<h1>Forgot Password</h1>

	<%= form_tag( '/user/user_forgot_password', {:method => :post, :id => 'USER_FORGOT_PASSWORD'}) do %>
   
   <table>
      <tr>
       <td> <label for="UserEmail">Email id</label> </td>
      <td>  <input type="email" name="User[emailId]" id="UserEmail" required placeholder="Enter your email address"> </td>
      </tr>
<tr>  <td></td>
      <td><button type="submit" >Login</button><a href="/login"><input type="submit" value="Back" id="submit"></a></td>
    </tr>
    </table>
  <% end %>
  <script type="text/javascript">
    var formvalidator = new Validator("USER_FORGOT_PASSWORD");
    formvalidator.addValidation("UserEmail", "req", "Don't leave the email address field blank");
    formvalidator.addValidation("UserEmail", "maxlen=50", "Please enter a valid email address upto 50 characters");
    formvalidator.addValidation("UserEmail", "email", "Please enter a valid email address");
  </script>

